<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Very Cool Website</title>
</head>
<body>
    <h1>Hello</h1>
    <div class="nav-bar">
        <p class="logo">Very Cool Website</p>
        <p class="login">Log in</p>
    </div>

    <div class = "options">
        <p>Options</p>
    </div>
    <div>
        <form action="/handle_data" method="post">
            <label for="title">Title</label>
            <br>
            <input type="text" name ="title" 
            placeholder="Post title" value="{{request.form['title'] }}" required> </input>

            <label for="content">Post Content</label>
            <br> 
            <textarea name="content" placeholder="Post content" 
                    cols="30" rows="10" required
                    value = "{{ request.form['content']}}"></textarea>
            <br>
            <button type = "submit">Submit</button>
        </form>
    </div>
    <div class="items">
        {% for post in posts %}
        <div>
            <p>{{ post['created'] }}</p>
            <h1>{{ post['title'] }}</h1>
            <p>{{ post['content'] }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>