<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Very Cool Website</title>
</head>
<body>
    <h1>Hello {{name}}</h1>
    <div class="nav-bar">
        <p class="logo">Very Cool Website</p>
        <p class="login">Log in</p>
    </div>

    <div class = "options">
        <p>Options</p>
    </div>
    <div>
        <form action="/handle_data" method="post">
            <input type="text" name="post">
        </form>
    </div>
    <div class="items">
        <div>
            <h1>Car</h1>
            <p>blog post</p>
        </div>
        <div>
            <h1>Writing</h1>
            <p>blog post</p>
        </div>
        <div>
            <h1>Games</h1>
            <p>blog post</p>
        </div>
        <div>
            <h1>Sports</h1>
            <p>blog post</p>
        </div>
        <div>
            <h1>Movies</h1>
            <p>blog post</p>
        </div>
        {% for p in post %}
        <div>
            <h1>New Post</h1>
            <p>{{ p }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>